# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*.php
.phpunit.result.cache

# Laravel IDE Helper
/_ide_helper.php
/_ide_helper_models.php

# Cache y logs
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# Archivos del sistema
*.log
*.DS_Store
Thumbs.db

# Composer y npm lockfiles (si no quieres subirlos, opcional)
# composer.lock
# package-lock.json

# Visual Studio Code
.vscode

# Archivos de entorno de Laragon (puedes agregarlos si usas Laragon)
*.bak
*.tmp
